<ion-header>
  <ion-toolbar class="barramenu">
    <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo centrar">TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centrar" name="campos" style="padding: 10px">
    <form [formGroup]="formularioRuta">

      <ion-label position="stacked">Donde vamos?</ion-label>

      

      <ion-input
      class="input-field"
      style="text-align: center"
      type="text"
      placeholder="Ingresa tu Destino"
      id="end"
      formControlName="destino"
      
    ></ion-input>

    <div id="map"></div>
    
  
  </form>
  </div>
</ion-content>
<!--
  <div class="centrar" name="campos" style="padding: 10px">
    <form [formGroup]="formularioRuta">

    <ion-label position="stacked">Donde vamos?</ion-label>
      <ion-input
        class="input-field"
        style="text-align: center"
        type="text"
        placeholder="Ingresa tu Destino"
        id="end"
        formControlName="destino"
      ></ion-input>

      <ion-button
        (click)="calculateAndDisplayRoute()"
        with="5px"
        shape="round"
        fill="solid"
        color="primary"
      >
        <ion-icon name="location-outline"></ion-icon> Ver ruta
      </ion-button>

      <div id="map"></div>

      <div name="listado_vehuculos">

        <ion-row class="centrar-vertical">
          <ion-col size="2" class="centrar-vertical">
           
            <img src="assets/icon/reloj.png" height="30px" />
          </ion-col>

          <ion-col size="4">
            <ion-datetime-button
          
              datetime="datetime"
            ></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                formControlName="hora"
                  minuteValues="0,10,20,30,40,50"
                  presentation="time"

                  id="datetime"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size="2" class="centrar-vertical">
        
            <img src="assets/icon/pasajero.png" height="30px" />
          </ion-col>
          <ion-col size="3">
            <ion-input
              class="input-number"
              type="number"
              value="1"
              min="1"
              max="10"
              formControlName="pasajeros"
            ></ion-input>
          </ion-col>
        </ion-row>
      </div>

      <ion-row>
        <ion-col size="12">
          <div style="padding-left: 15px">
            <ion-label position="stacked">Observaciones</ion-label>
            <ion-input
              formControlName="obs"
              type="text"
              placeholder="Ingresa observaciones"
            ></ion-input>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <div style="text-align: center">
            <ion-button
              (click)="CrearRuta()"
              with="100px"
              shape="round"
              fill="solid"
              color="primary"
              size="small"
            >
              Crear ruta
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </div>




  <div>
    <ion-radio-group>
      <ion-list-header>
        <ion-label style="font-size: 20px">Medio de pago</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          <ion-icon name="cash-outline"></ion-icon> Efectivo</ion-label
        >
        <ion-radio mode="md" slot="start" value="apple"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label
          ><ion-icon name="card-outline"></ion-icon> Tarjeta (Cobro en
          vehiculo)</ion-label
        >
        <ion-radio mode="md" slot="start" value="grape"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label
          ><ion-icon name="swap-horizontal-outline"></ion-icon>
          Transferencia</ion-label
        >
        <ion-radio mode="md" slot="start" value="cherry"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>

  <div name="boton aceptar" style="height: 50px">
    <ion-row>
      <ion-col size="12">
        <div style="text-align: center">
          <ion-button
            (click)="onClick()"
            with="100px"
            shape="round"
            fill="solid"
            color="success"
            size="small"
            routerLink="/viaje-reservado"
          >
            Solicitar Viaje
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>-->

  <ion-footer style="height: 50px">
    <ion-toolbar>
      <div name="logo" style="margin-left: 5px">
        <img src="assets/logo_duoc.png" whith="20px" height="20px" />
      </div>
      <ion-title class="pie">Powered by Ivan</ion-title>
    </ion-toolbar>
  </ion-footer>

