<ion-header>
  <ion-toolbar mode="ios" class="barramenu">
    <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo centrar">TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <div class="centrar" name="campos" style="padding: 10px">
    <form [formGroup]="formularioRuta">

    <ion-label position="stacked">Donde vamos?</ion-label>
      <ion-input
        class="input-field"
        style="text-align: center"
        type="text"
        placeholder="Ingresa tu Destino"
        id="end"
        formControlName="destino"
       
      ></ion-input>

      <ion-button
        (click)="calculateAndDisplayRoute()"
        with="5px"
        shape="round"
        fill="solid"
        color="danger"
        size="small"

      >
        <ion-icon name="location-outline"></ion-icon> Calcular ruta
      </ion-button>

      <div id="map1"></div>
      <h3>Tarifa : {{tarifa}}</h3>

      <div>


        <ion-row class="centrar-vertical">
          <ion-col size="2" class="centrar-vertical">
           
            <img src="assets/icon/reloj.png" height="20px" />
          </ion-col>

          <ion-col size="4">
            <ion-datetime-button
              style="font-size:15px ;"
              datetime="datetime"
            ></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                formControlName="hora"
                  minuteValues="0,10,20,30,40,50"
                  presentation="time"
                  id="datetime"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size="2" class="centrar-vertical">
        
            <img src="assets/icon/pasajero.png" height="20px" />
          </ion-col>
          <ion-col size="3">
            <ion-input
              id="num"
              class="input-number"
              type="number"
              value="10"
              min="1"
              max="10"
              formControlName="pasajeros"
            ></ion-input>
          </ion-col>
        </ion-row>
      </div>
      <div>
        <ion-radio-group formControlName="pago">
          <ion-list-header>
            <ion-label style="font-size: 20px">Medio de pago</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>
              <ion-icon name="cash-outline"></ion-icon> Efectivo</ion-label
            >
            <ion-radio mode="md" slot="start" value="Efectivo"></ion-radio>
          </ion-item>
    
          <ion-item>
            <ion-label
              ><ion-icon name="card-outline"></ion-icon> Tarjeta (Cobro en
              vehiculo)</ion-label
            >
            <ion-radio mode="md" slot="start" value="Tarjeta"></ion-radio>
          </ion-item>
    
          <ion-item>
            <ion-label
              ><ion-icon name="swap-horizontal-outline"></ion-icon>
              Transferencia</ion-label
            >
            <ion-radio mode="md" slot="start" value="Transferencia"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <ion-row>
        <ion-col size="12">
          <div style="text-align: center">
            <ion-button
              (click)="CrearRuta()"
              with="100px"
              shape="round"
              fill="solid"
              color="primary"
              size="small"
            >
              Solicitar Viaje
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>
<ion-footer style="height: 50px">
  <ion-toolbar>
    <div name="logo" style="margin-left: 5px">
      <img src="assets/logo_duoc.png" whith="20px" height="20px" />
    </div>
    <ion-title class="pie">Powered by Ivan</ion-title>
  </ion-toolbar>
</ion-footer>
