<ion-header>
  <ion-toolbar class="barramenu">
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-back-button  mode="ios"  text="Volver"></ion-back-button>
    </ion-buttons>

    <ion-title class="titulo centrar">Mis viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <div name="solicitudes">


       <div>
        <ion-list>
          <ion-list-header> Viajes Realizados </ion-list-header>

          <ion-item>
            <ion-icon name="person-circle-outline"></ion-icon>
            <!--<ion-avatar slot="start">
              <img src="./avatar-finn.png" />
            </ion-avatar>-->
            <ion-label>
              <h2>Juanito Perez</h2>
              <h3>Las Naciones 4569, Maipu</h3>
              <h3>13-09-2022</h3>
              <h3>Tarifa : $5000</h3>
              </ion-label>
             

          </ion-item>
          <ion-item>
            <!--<ion-avatar slot="start">
              <img src="./avatar-finn.png" />
            </ion-avatar>-->
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>
              <h2>Juanito Perez</h2>
              <h3>Las Naciones 4569, Maipu</h3>
              <h3>13-09-2022</h3>
              <h3>Tarifa : $5000</h3>
              </ion-label>
              

          </ion-item>

         
        </ion-list>


       </div>



     </div>

</ion-content>

<ion-footer style="height:50px ;">
  <ion-toolbar >
    <div name="logo" style="margin-left:5px ;" >
      <img  src="assets/logo_duoc.png" whith="20px" height="20px" >
    </div>
    <ion-title class="pie">Powered by Ivan</ion-title>
  </ion-toolbar>
</ion-footer>